img.photo {
    width: 40vw;
    height: auto;
    overflow: hidden;
    border-radius: 60px;
    box-shadow: 40px 40px 40px rgba(35, 35, 35, 0.9);
    margin: 2rem auto;
}

img.arms {
    width: 35vw;

}

@media screen and (max-width: 520px) {

    img.arms,
    img.photo {
        width: 90vw;
    }
}