.home-container {
    padding: 4rem 0;

}

h1.title {
    background: linear-gradient(to top, var(--limegreen), var(--purple));
    font-family: 'PT-Sans', sans-serif;
    font-size: 1.8rem;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    position: relative;
    top: -100px;


}


.home-carousel {
    height: 100%;
    overflow: hidden;
    height: 300px;
    width: 450px;
    border-radius: 60px;
    box-shadow: 40px 40px 40px rgba(35, 35, 35, 0.9);

}

.carousel-item {
    height: 100%;
}

.info {
    background-color: var(--purple);
    box-shadow: -10px 10px 40px -20px rgba(35, 35, 35, 0.9), -30px 30px var(--mauve), 1px -1px 2px rgba(220, 180, 240, 0.6);
    height: 300px;
    width: 340px;
    border-radius: 0;
    font-weight: 500;
    line-height: 1.5rem;
    color: white;
    padding: 1.5rem;
}



.info:hover {
    background-color: #9b34f4;
}


.info-container {
    padding: 0 4rem;
    margin: auto;
}




.info-container a {
    color: var(--limegreen);
    font-weight: 800;

}

.sup-div {
    background-color: var(--limegreen);
    box-shadow: -30px 30px var(--verdantgreen);
    height: 60px;
    width: 400px;
    position: relative;
    left: 60vw;
}