.navbar {

    background: linear-gradient(var(--darkred2), var(--purple2));
}

h1.title {
    font-family: 'PT-Sans', sans-serif;
    text-transform: uppercase;
    color: var(--peach);
    font-size: 2rem;
}

.main {
    background-color: var(--mediumred);
    min-height: 90vh;
}

a.navlink {
    color: var(--mediumred);
    font-size: 1.4rem;
}

.btn {
    background-color: var(--purple);
    width: 10rem;
    height: 3rem;
    margin: 0 2rem;
    border: none;
    font-size: large;
}

.btn:hover {
    background-color: var(--mauve);
}

@media screen and (max-width: 480px) {
    h1.title {
        font-size: 1.1rem;
    }
}