.navbar {
    background: linear-gradient(to right, var(--mediumred3), var(--mediumred2));

}

.signInBar {
    background-color: #8A4CEEAA;
}

.btn-outline-primary {
    color: var(--purple);
}

.main {
    background-color: var(--mediumred);
    min-height: 90vh;
    background: linear-gradient(to right, var(--mediumred3), var(--mediumred2));
}

a.navlink {
    color: white;
    font-size: 1.4rem;
}



.btn {
    background-color: var(--purple);
    width: 10rem;
    height: 3rem;
    margin: 0 2rem;
    border: none;
    font-size: large;
}

.btn:hover {
    background-color: var(--mauve);
}

.btn:active {
    background-color: var(--red);
}

@media screen and (max-width: 480px) {
    h1.title {
        font-size: 1.1rem;
    }
}