@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Cardo&display=swap');

:root {
  --darkred: #681E4F;
  --mediumred: #BF5B5B;
  --purple: #8A4CEE;
  --mauve: #A0B4FA;
  --limegreen: #62B92D;
  --lushgreen: #376D15;
  --peach: #F5DADA;
  --emerald: #418787;
  --darkred2:#452158;
  --purple2: #330e24;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'PT Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



a {
  text-decoration: none;
  color: var(limegreen);
}

@media (prefers-reduced-motion) {
  /* styles to apply if the user's settings are set to reduced motion */
}